
  <div class="container">
  <% @questions.each do |question| %>
        <li>
        <%= question.name %> -
        <%= question.description %>
        </li>
        <%= link_to like_question_path(question), method: :put do %>
        upvote
          <%= question.get_upvotes.size %>
        <%= link_to dislike_question_path(question), method: :put do %>
  Downvote
  <%= question.get_downvotes.size %>
<% end %>
      <% end %>
    <% end %>

  </div>

